<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chat-API</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <div>
        <p>* Status to Chat-API: {{status_connected}}</p>
    </div>

    <p><hr></p>

    <!--Fuera de Sesión-->
    <template v-if="!qr.used">
        <label>
            <span>* Code QR Whatsapp: <b>Fuera de sesión...</b></span>
            <p>
                <button type="button" @click="getCodeQR()" :disabled="button.qr.disabled">Obtener Code QR</button> <span>{{button.qr.status}}</span>
            </p>
        </label>

        <div>
            <template v-if="qr.loading">
                <span>Iniciando sesion, espere...</span>
            </template>
            <template v-else>
                <img :src="qr.image" alt="Not image" width="18%"/>
            </template>
        </div>


    </template>


    <!--En Sesión-->
    <template v-if="qr.used">
        <label>
            <span>* Code QR Whatsapp: <b>En sesión...</b></span>
            <p>
                <button type="button" @click="logout()" :disabled="button.logout.disabled">Cerrar Sesion</button> <span>{{button.logout.status}}</span>
            </p>
        </label>

        <p><hr></p>

        <label>
            <span>* Mensaje:</span>
            <p>
                <input type="text" v-model="message.phone" placeholder="Phone">
            </p>
            <p>
                <label>
                    <input type="checkbox" name="rd"
                           v-model="files.image.status" @change="selectedFile(1)" :disabled="files.pdf.status || files.audio.status">
                    Archivo imagen
                </label>
                <label>
                    <input type="checkbox" name="rd"
                           v-model="files.pdf.status" @change="selectedFile(2)" :disabled="files.image.status || files.audio.status">
                    Archivo pdf
                </label>
                <label>
                    <input type="checkbox" name="rd"
                           v-model="files.audio.status" @change="selectedFile(3)" :disabled="files.image.status || files.pdf.status">
                    Archivo audio
                </label>
            </p>
            <p v-if="files.image.status || files.pdf.status">
                <input type="text" v-model="message.filename" placeholder="Filename">
            </p>
            <p>
                <textarea name="" id="" cols="100" rows="5" v-model="message.body" placeholder="Body"></textarea>
            </p>
            <button type="button" @click="sendMessage()" :disabled="button.message.disabled">Enviar mensaje</button> <span>{{button.message.status}}</span>
        </label>
    </template>

</div>

<script>

    //Webhook = https://devinbox.securitec.pe:446/mywebhook/chat_api
    const API_URL = "https://devinbox.securitec.pe:446"
    const CHATAPI_URL = "https://eu159.chat-api.com/instance155047"//Cuenta de securitec de gabriela
    const CHATAPI_TOKEN = "ol1liyjmehf87oh7"
    const INSTANCE = "155047"

    new Vue({
      el: '#app',
      data: ()=>({
        qr : {
          loading: false,
          used: false,
          image: null
        },
        status_connected: 'Disconnected',
        input: {
            message: null,
        },
        message:{
          phone: '51994905237',
          body: null,
          status: null,
          filename: null
        },
        files: {
          image: {
            status: false,
            url: 'https://i2.wp.com/velozityweb.com/blog/wp-content/uploads/2019/02/bootstrap-4-logo.jpg',
          },
          pdf: {
            status: false,
            url: 'http://www.wiener.edu.pe/manuales/4to-ciclo/programacion-web-2/curso-practico-de-javascript.pdf',
          },
          audio: {
            status: false,
            url: 'http://www.wiener.edu.pe/manuales/4to-ciclo/programacion-web-2/curso-practico-de-javascript.pdf',
          },
        },
        button: {
          qr:{
            disabled: false,
            status: null
          },
          message: {
            disabled: false,
            status: null
          },
          logout: {
            disabled: false,
            status: null
          }
        }
      }),
      mounted(){
        axios.defaults.headers.common['X-Requested-With'] = 'XMLHttpRequest'
      },
      async created(){
        await this.load()
        await this.startInterval()
      },
      methods: {

        async getWebhookTmp(){
          const url = `${API_URL}/mywebhook/chat_api/data`
          await axios.get(url).then(async (r)=>{

            console.log(r)
            console.log(r.data)

            //Validar instancia
            if(r.data.instanceId === INSTANCE) {

              /*
              //validar estado previo
              if (r.data.previous_status === 'loading') {
                this.qr.loading = true
              }else if (r.data.previous_status === 'got qr code') {
                this.qr.loading = false
              }
              */

              //Validar estado
              if (r.data.status === 'got qr code') {

                if (r.data.substatus === 'expired') {
                    this.qr.image = null
                }

                this.qr.loading = false
                this.qr.used = false

              }
              else if (r.data.status === 'loading') {

                this.qr.loading = true
                this.qr.used = false

              }
              else if (r.data.status === 'authenticated'){

                this.qr.loading = false
                this.qr.used = true

              }

              /*
              //Validar sub estado
              if (r.data.substatus === 'loading') {
                this.qr.loading = true
              } else if (r.data.substatus === 'normal') {
                this.qr.loading = false
              } else if (r.data.substatus === 'authenticated'){
                this.qr.loading = false
              }
              */

            }

          }).catch((e)=>{
            console.error("getWebhook",e)
          })
        },
        async startInterval(){
          setInterval(async ()=>{
              await this.getWebhookTmp()
          }, 999)
        },

        async load() {
          await this.getStatusConnection()
        },
        async getStatusConnection () {
          this.status_connected = 'Connecting...'
          const url = `${API_URL}/connect`
          await axios.get(url).then((r) => {
            setTimeout(() => {
              this.status_connected = r.data
            }, 1500)
          }).catch((e) => {
            this.status_connected = 'Disconnected'
            console.error(e)
          })
        },
        async getCodeQR () {

          this.button.qr.disabled = true
          this.button.qr.status = 'obteniendo QR...'

          const url = `${CHATAPI_URL}/qr_code?token=${CHATAPI_TOKEN}`
          await axios.get(url, {responseType: 'arraybuffer'}).then((r) => {
            console.log(r.data)
            if(r.status === 200){

              this.button.qr.disabled = false
              this.button.qr.status = 'QR obtenido'

              let blob = new Blob(
                [r.data],
                {type: r.headers['content-type']}
              )

              this.qr.image = URL.createObjectURL(blob)
            }
          }).catch((e) => {

            console.error(e)
            this.button.qr.disabled = false
            this.button.qr.status = 'error al obtener QR'

          })
        },
        async sendMessage() {

          this.button.message.disabled = true
          this.button.message.status = 'enviando...'

          const url = `${CHATAPI_URL}/sendMessage?token=${CHATAPI_TOKEN}`

          //Mensaje basico
          const params = {
            phone: this.message.phone,
            body: this.message.body,
          }
          //Mensaje avanzado
          if(this.files.image.status) params.filename = this.message.filename
          if(this.files.pdf.status) params.filename = this.message.filename

          await axios.post(url, params).then((r) => {
            console.log(r.data)
            if(r.status === 200){

              if(r.data.sent) this.button.message.status = 'mensaje enviado'
              else if(!r.data.sent) this.button.message.status = 'no enviado'
              this.button.message.disabled = false

            }
          }).catch((e) => {

            console.error(e)
            this.button.message.disabled = false
            this.button.message.status = 'no enviado'

          })
        },
        selectedFile(type){
          this.message.body = null
          switch(type){
            case 1:
              if(this.files.image.status) this.message.body = this.files.image.url
              break
            case 2:
              if(this.files.pdf.status) this.message.body = this.files.pdf.url
                break
            case 3:
              if(this.files.audio.status) this.message.body = this.files.audio.url
                break
          }
        },
        async logout(){

          this.button.logout.disabled = true
          this.button.logout.status = 'cerrando sesion...'

          const url = `${CHATAPI_URL}/logout?token=${CHATAPI_TOKEN}`
          const params = {}
          await axios.post(url, params).then((r) => {
            if(r.status === 200){

              this.button.logout.status = 'sesion cerrada'
              window.location.reload(true)

            }
            console.log(r.data)
          }).catch((e) => {

            console.error(e)
            this.button.logout.disabled = false
            this.button.logout.status = 'error al cerrar sesion'

          })
        }
      },
    })
</script>

</body>
</html>